$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 0;
  font-family: $font-sans;
}

a {
  color: $link-color;
  text-decoration: none;
}


//join or create events page
//map coordinates
#map {
  width: 100vw;
  height: 100vh;
}

.buttons {
  position: absolute;
  margin-top: 90vh;
  .action-button {
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }

  .create {
    background-color: #39CB5B;
  }
  .join {
    background-color: orange;
  }
}

//styling the profile view
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .profile-image {
    width: 50%;
    height: 0 auto;
    margin-top: 2em;;
  }

  button {
    background-color: #39CB5B;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    margin: 1em;
  }

  span {
    color: grey;
    font-size: 14px;
    font-style: italic;
  }

  // p {
  //   font-weight: bold;
  // }

  .impact {

    margin: 1em;
    .litter-border {
      border: 1px solid grey;
      border-radius: 5px;
      padding: 1em;
      box-shadow: -4px 10px 5px 0px rgba(0,0,0,0.75);
    }
  }

  hr {
    width: 50vw;
  }

  // .option-text {
  //   border-bottom: 1px solid grey;
  // }
    .challenge-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      p {
        margin: 0 2em;
      }
    }
}

ion-icon {
  color: #39CB5B;
}

.profile-console-icon{
  float: right;
  margin: 1em;
}