$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
}

a {
  color: $link-color;
  text-decoration: none;
}


//join or create events page
//map coordinates
#map {
  width: 100vw;
  height: 80vh;
}

.buttons {
  position: absolute;
}
.action-button {
  border: 1px solid;
  background-color: green;
  padding: 10px;
  border-radius: 3px;

}