<div class="container">
    <ion-icon name="checkmark-circle" class="confirmation-icon"></ion-icon>
    <p class="confirmation-text">Thank You Juanna <br>for your subcription</p>
    <hr>
    <span>You will receive a confirmation email. <br> With this cleaning , you will earn 33 points.</span>

    <div class="box-confirmation">
        <div class="challenge-container">
            <ion-icon name="calendar" class="confirmation-icons"></ion-icon>
            <p>Add to calendar</p>
        </div>

        <hr>
        <div class="challenge-container">
            <ion-icon name="information-circle-outline" class="confirmation-icons"></ion-icon>
            <p>See the organizer profile</p>
        </div>

        <hr>
        <div class="challenge-container">
            <ion-icon name="information-circle-outline" class="confirmation-icons"></ion-icon>
            <p>Cancel the subscription</p>
        </div>

    </div>
</div>