<div class='d-flex'>

<div>
  <img src="https://www.skylinemaids.com/wp-content/uploads/2016/01/homepage-img-3.png" alt="">
<p>You are welcome to {{title}}</p>
</div>

<div>
  {{#if user}}
        <a href="/">{{user.name}}'s Profile</a>
        <form action="/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        {{else}}
        <a href="/sign-in">Sign In</a>
        <a href="/sign-up">Sign Up</a>
      {{/if}}
</div>

</div>




