<ion-icon name="contact" class="profile-console-icon"></ion-icon>

<div class="container">

    

        <img src="https://www.skylinemaids.com/wp-content/uploads/2016/01/homepage-img-3.png" alt="profile"
            class="profile-image">
        <h4>Juana Matias</h4>
        <span>Contributing since 2019</span>
   

    <button>Edit Profile</button>

    <div class="impact">
        <p>My impact slots</p>
        <div class="litter-border">
            <p>Litter pickup overall</p>
            <p>1000 <span>pieces</span></p>
        </div>
    </div>

    <div class="options">
         <div class="challenge-container">
             <ion-icon name="flag"></ion-icon>
             <p class="option-text"> Challenges </p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
        <hr>
         <div class="challenge-container">
             <ion-icon name="images"></ion-icon>
             <p class="option-text">Gallery</p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
        <hr>
         <div class="challenge-container">
             <ion-icon name="settings"></ion-icon>
             <p class="option-text">Settings</p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
        <hr>
         <div class="challenge-container">
             <ion-icon name="help-circle"></ion-icon>
             <p class="option-text">Help</p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
    </div>
</div>