<div class="container">

    
        <img src="https://www.skylinemaids.com/wp-content/uploads/2016/01/homepage-img-3.png" alt="profile"
            class="profile-image">
        <h4>Juana Matias</h4>
        <span>Contributing since 2019</span>
   

    <button>Edit Profile</button>

    <div class="impact">
        <p>My impact slots</p>
        <div class="litter-border">
            <p>Litter pickup overall</p>
            <p>1000 <span>pieces</span></p>
        </div>
    </div>

    <div class="options">
         <p class="option-text"> Challenges</p>
        <hr>
        <p class="option-text">Gallery</p>
        <hr>
        <p class="option-text">Settings</p>
        <hr>
        <p class="option-text">Help</p>
    </div>
</div>