<div class="container">

    

        <img src="https://www.skylinemaids.com/wp-content/uploads/2016/01/homepage-img-3.png" alt="profile"
            class="profile-image">
        <h4>Juana Matias</h4>
        <span>Contributing since 2019</span>
   

    <button>Edit Profile</button>

    <div class="impact">
        <div class="litter-border">
            <p class="impact-title">Litter Pickup Overall</p>
            <p class="litter-points-number">300 <span>points</span></p>
        </div>
    </div>

    <div class="options">
         <div class="challenge-container" >
             <ion-icon name="flag" class="options-icons"></ion-icon>
             <p class="option-text"> Challenges </p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
        <hr>
         <div class="challenge-container">
             <ion-icon name="images" class="options-icons"></ion-icon>
             <p class="option-text">Gallery</p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
        <hr>
         <div class="challenge-container" >
             <ion-icon name="settings" class="options-icons"></ion-icon>
             <p class="option-text">Settings</p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
        <hr>
         <div class="challenge-container">
             <ion-icon name="help-circle" class="options-icons"></ion-icon>
             <p class="option-text">Help</p>
             <ion-icon name="arrow-forward"></ion-icon>
         </div>
    </div>
</div>