<nav class="navbar navbar-light light-blue lighten-4">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">Hackathon</a>

  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><ion-icon name="menu" class="options-icons"></ion-icon></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        {{#if user}}
        <li class="nav-item active">
        <a class="nav-link"  href="/private">Profile</a>
        </li>
        <li class="nav-item active">
        <form action="/sign-out" method="POST">
          <button class="sign-out-button" >Sign Out</button>
        </form>
        </li>
        {{else}}
       <li class="nav-item active"><a class="nav-link"  href="/sign-in">Sign In</a></li> 
      <li class="nav-item active"><a class="nav-link"  href="/sign-up">Sign Up</a> </li>
      {{/if}}
    </ul>

  </div>
  <!-- Collapsible content -->

</nav>
